.cube div {
  margin: 10px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  font-size: 17px;
}

.cube {
  display: flex;
  position: relative;
}

.cube__top {
  position: absolute;
  top: 80px;
  left: 80px;
}

.cube__front {
  position: absolute;
  top: 80px;
  left: 0;
}

.cube__left {
  position: absolute;
  left: 80px;
}

.cube__right {
  position: absolute;
  left: 80px;
  top: 160px;
}

.cube__back {
  position: absolute;
  top: 80px;
  left: 160px;
}

.cube__bottom {
  position: absolute;
  top: 80px;
  left: 240px;
}

.form {
  margin-top: 250px;
}

.T {
  color: red;
}
.F {
  color: skyblue;
}
.L {
  color: darkgreen;
}
.R {
  color: darkorange;
}
.B {
  color: purple;
}
.M {
  color: black;
}

.result {
  margin-top: 50px;
}
